{% set page_title = 'PARAM-NINJA' %}
{% set current_page = 'index' %}

{% extends "layout.html" %}

{% block content %}
  <div class="row">
    <div class="col-sm-12">
      <form class="form" action="check" method="post">
        <div class="row">
          <div class="col-sm-10">
            {% if check_result %}
              {% set url = check_result["checked_url"] %}
            {% else %}
              {% set url = "" %}
            {% endif %}
            <input type="text" class="form-control" placeholder="https://something.com/page?param=val" name="url" value={{ url }}>
          </div>
          <div class="col-sm-2 btn-group">              
            <button type="button" class="btn btn-success btn-block" onclick="submit()">SCAN</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-sm-12">
      {% if check_result %}
        <label>Result</label>
        <table class="table table-stripped">
          <thead>
            <tr>
              <th>Test</th>
              <th>Result</th>
            </tr>              
          </thead>
          <tbody>
            <tr>
              <td>[1] Technologies Used</td>
              <td class="text-danger">{{ check_result["technology"]}}</td>
            </tr>
            <tr>
              <td>[2] Vulnerability Spotted</td>
              <td class="text-danger">{{ check_result["vuln"]}}</td>
            </tr>
            <tr>
              <td>[3] Server Type</td>
              <td class="text-danger">{{ check_result["server_version"]}}</td>
            </tr>
            <tr>
              <td>[4] Domain Information</td>
              <td class="text-danger">{{ check_result["domain_information"]}}</td>
            </tr>
            <tr>
              <td>[5] Request Tampering</td>
              <td class="text-danger">{{ check_result["request_tamp"]}}</td>
            </tr>
            <tr>
              <td>[6] Exploit Information</td>
              <td class="text-danger">{{ check_result["exploit_info"]}}</td>
              <td></td>
            </tr>
            <tr>
              <td>[7] Mitigation</td>
              <td class="text-danger">{{ check_result["mitigation_info"]}}</td>
            </td>
            </tr>
          </tbody>
        </table>
      {% endif %}
    </div>
  </div>
{% endblock %}
