{% extends "bootstrap/base.html" %}
{% block title %}API NINJA{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <h1 class="text-center col-12">API NINJA</h1>
    </div>
    <div>
      <form class="form" action="check" method="post">
        <div class="form-group row">
          <div class="col-sm-10">
            {% if check_result %}
              {% set url = check_result["checked_url"] %}
            {% else %}
              {% set url = "" %}
            {% endif %}
            <input type="text" class="form-control" placeholder="URL" name="url" value={{ url }}>
          </div>
          <button type="button" class="btn btn-success col-sm-2" onclick="submit()">Check</button>
        </div>
      </form>
      <div>
        {% if check_result %}
          <label>Result</label>
          <table class="table table-stripped">
            <thead>
              <tr>
                <th>Test</th>
                <th>Result</th>
              </tr>              
            </thead>
            <tbody>
              <tr>
                <td>[1] Technologies Used</td>
                <td class="text-danger">{{ check_result["technology"]}}</td>
              </tr>
              <tr>
                <td>[2] Vulnerabilties Spotted</td>
                <td class="text-danger">{{ check_result["vuln"]}}</td>
              </tr>
              <tr>
                <td>[3] Server Version</td>
                <td class="text-danger">{{ check_result["server_version"]}}</td>
              </tr>
              <tr>
                <td>[4] Request Tampering</td>
                <td></td>
              </tr>
              <tr>
                <td>[5] Exploitation Information</td>
                <td></td>
              </tr>
              <tr>
                <td>[6] Mitigation</td>
                <td></td>
              </td>
              </tr>
            </tbody>
          </table>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
