<!-- <header></header>
<H1>API NINJA</H1>
<form action="check">
  <input type="text" name="url_to_check"/>
  <input type="button">Submit</input>
</form> -->

{% extends "bootstrap/base.html" %}
{% block title %}API-NINJA{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
  <style>
    @import url("https://fonts.googleapis.com/css?family=Inconsolata:400,400i,700");
    .container, td{
      font-family: 'Inconsolata', sans-serif;
    }
  </style>
  <div class="container">
    <div class="row">
      <h1 class="text-center col-12">API Ninja</h1>
    </div>
    <div>
      <form class="form" action="check" method="post">
        <div class="form-group row">
          <div class="col-sm-10">
            {% if check_result %}
              {% set url = check_result["checked_url"] %}
            {% else %}
              {% set url = "" %}
            {% endif %}
            <input type="text" class="form-control" placeholder="http://api.something.com/endpoint?id=1" name="url" value={{ url }}>
          </div>
          <button type="button" class="btn btn-success col-sm-2" onclick="submit()">SCAN</button>
        </div>
      </form>
      <div>
        {% if check_result %}
          <label>Result</label>
          <table class="table table-stripped">
            <thead>
              <tr>
                <th>Test</th>
                <th>Result</th>
              </tr>              
            </thead>
            <tbody>
              <tr>
                <td>[1] Technologies Used</td>
                <td class="text-danger">{{ check_result["technology"]}}</td>
              </tr>
              <tr>
                <td>[2] Vulnerability Spotted</td>
                <td class="text-danger">{{ check_result["vuln"]}}</td>
              </tr>
              <tr>
                <td>[3] Server Version</td>
                <td class="text-danger">{{ check_result["server_version"]}}</td>
              </tr>
              <tr>
                <td>[4] Request Tampering</td>
                <td class="text-danger">{{ check_result["request_tamp"]}}</td>
              </tr>
              <tr>
                <td>[5] Exploit Information</td>
                <td class="text-danger">{{ check_result["exploit_info"]}}</td>
                <td></td>
              </tr>
              <tr>
                <td>[6] Mitigation</td>
                <td class="text-danger">{{ check_result["mitigation_info"]}}</td>
              </td>
              </tr>
            </tbody>
          </table>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
