{% extends "bootstrap/base.html" %}
{% block title %}PARAM NINJA - Login{% endblock %}

{% block content %}
  <style>
    @import url("https://fonts.googleapis.com/css?family=Inconsolata:400,400i,700");
    .container, td{
      font-family: 'Inconsolata', sans-serif;
    }
  </style>
  <h1 class="text-center">Login</h1>
  <div class="container">
    <div class="row">
      <div class="col-12">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="alert alert-danger alert-dismissible show text-center" role="alert">
              {{ messages[0] }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endif %}
        {% endwith %}
      </div>
    </div>
    <div class="row">
      <form class="form" action="login" method="post">
        <div class="form-group">
          <label>User name:</label>
          <input class="form-control" type="text" name="email">
        </div>
        
        <div class="form-group">
          <label>Password:</label>
          <input class="form-control" type="password" name="password">
        </div>

        <div class="pull-right">
          <button class="btn btn-success" onclick="submit()">Submit</button>
        </div>
      </form>
    </div>
  </container>
{% endblock %}
